/*
Theme Name: Latta
Author: Dave Latta
Author URI: http://www.latta.co
Description: Modern design and fullstack web development
Text Domain: latta

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Layout
# Typography & Icons
# Buttons & Links
# Forms
# Header & Nav
# Hero
# Accessibility
# Alignments
# Clearings
# Widgets
# Sections
	## Trust Section
	## Intro Section
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Footer
# Media Queries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #6e83a0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.7;
}

h1,h2,h3 {
	color: #3a4664;
	font-weight: 300;
}

h4,h5,h6 {
	color: #3a4664;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
	color: #3a4664;
}
.h4,.h5,.h6 {
	font-weight: 400;	
}



.jumbotron .display-3 {
    color: #fff;
    font-weight: 100;
}

.jumbotron .lead {
	color: #fff;
}

.lead {
	color:#3a4664;
}

.fa-li {
    top: 0.3em !important;
}
.fa-check-circle:before {
	color: #24ba6c;
	font-size: 18px;	
}


/*--------------------------------------------------------------
# Buttons & Links
--------------------------------------------------------------*/
a {
	color: #6a67f8;
}

a:focus, a:hover {
	color: #6a67f8;
	text-decoration: none;
}

.btn {
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	min-width: 160px;
	padding: 12px;
}

.btn:hover {
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn-primary {
    color: #fff;
    background-color: #6a67f8;
    border:none;
}



.btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #8583ff;
    
}

.btn-secondary {
    color: #6a67f8;
}
.btn-secondary:hover {
    color: #373a3c;
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    transition: all .15s ease;
}

.jumbotron .btn:hover {
	    transform: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Header & Nav
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## SVG Logo
--------------------------------------------------------------*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-Latta-Logo {
  width: 4.6845703125em;
}

.icon-Latta-Logo {
	color: #fff;
}

.navbar-brand {
	font-size: 1.75rem;
}

.navbar-brand:hover {
	border:none;
}

.navbar-brand img {
	max-width: 120px;
	padding-top: 5px;
}

.btn:hover {
	-webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
	transform: translateY(-1px);
}

.navbar .btn {
	font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #8583ff;
}

.scrolled-bg { 
	background-color: #fff;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.scrolled-bg  a { 
	color:#666 !important;
}

.scrolled-bg  a:hover { 
	color:#6a67f8 !important;
}

.scrolled-bg .icon-Latta-Logo {
	color: #3b0084;
}


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background: #fff;
}

.scrolled-bg .hamburger-inner, .scrolled-bg .hamburger-inner::before, .scrolled-bg .hamburger-inner::after {
	background: #000;
}
/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

.jumbotron {
  height: 85vh;
  width: 100%;
  position: relative;
  overflow: auto;
  margin-bottom: 0;
}

.jumbotron .container {
  color: #fff;
  left: 20px;
  right: 20px;
  max-width: 700px;
  padding: 20px;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  overflow: auto;
}   

  
.home-hero {
	background: #000;
	background-image: url("http://www.latta.dev/wp-content/uploads/2016/10/home-hero.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*--------------------------------------------------------------
## Cards
--------------------------------------------------------------*/
.card {
    border: 0;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
    transform: translate(0px, -4px);
    transition: box-shadow 0.2s, transform 0.2s, opacity 0.2s;    
}

    
    
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
	padding: 60px 20px;
} 

.section-gray {
	background: #f3f3f7;
}


/*--------------------------------------------------------------
## Trust Section
--------------------------------------------------------------*/

.trust-message {
	padding: 20px 0; 
 }
 
.trust-message p{
	font-size: 20px;
	margin-bottom: 0;
	text-align: center;
 }
 
 .nc-icon {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -2px;
 }

/*--------------------------------------------------------------
## Intro Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-info {
	text-align: center;
}

.site-footer {
	padding: 30px 0;
}

.site-footer p{
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Media Queries - Mobile First 
--------------------------------------------------------------*/

/* Extra small devices (portrait phones, less than 544px) */ 
/* No media query since this is the default in Bootstrap */ 

/* Small devices (landscape phones, 544px and up) */ 
@media (min-width: 544px) {
	.phone{
    margin-right: 15px;
	}
	.why-term img {
	display: block;
	max-width: 75%;
	float: right;
	margin-top: -30px;ß
	}
}

/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {
	.container-fluid {
	max-width: 80%;
	}
	.coverage-estimate-form form {
	max-width: 425px;
	margin: 0 auto;
	}
	.why-get-quote img {
	 display: block;
	 image-rendering: auto;
	 margin: 0 auto;
	 margin-bottom: 15px;
	 max-width: 85%;
 	}
 	.navbar {
	padding: .5rem 3rem;
	}
	.nav {
		padding-top: .4rem;
	}
	.scrolled-bg 	.navbar {
	padding: .25rem 2rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {
	
}   

/* Navbar fix */ 
@media (max-width: 991px) { 
	.navbar-toggleable-md { 
	clear:both; 
	padding: 15px 15px 20px 15px;
	}
	
}